<?xml version="1.0" encoding="UTF-8"?>

<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />

    <Resource name="openclinic" auth="Container"
              type="uk.org.primrose.vendor.tomcat.PrimroseDataSource"
              factory="uk.org.primrose.vendor.tomcat.PrimroseDataSourceFactory"
              poolName="openclinic"
              primroseConfigFile="conf/db.cfg"/>
    <Resource name="longopenclinic" auth="Container"
              type="uk.org.primrose.vendor.tomcat.PrimroseDataSource"
              factory="uk.org.primrose.vendor.tomcat.PrimroseDataSourceFactory"
              poolName="longopenclinic"
              primroseConfigFile="conf/db.cfg"/>
    <Resource name="admin" auth="Container"
              type="uk.org.primrose.vendor.tomcat.PrimroseDataSource"
              factory="uk.org.primrose.vendor.tomcat.PrimroseDataSourceFactory"
              poolName="admin"
              primroseConfigFile="conf/db.cfg"/>
    <Resource name="longadmin" auth="Container"
              type="uk.org.primrose.vendor.tomcat.PrimroseDataSource"
              factory="uk.org.primrose.vendor.tomcat.PrimroseDataSourceFactory"
              poolName="longadmin"
              primroseConfigFile="conf/db.cfg"/>
    <Resource name="stats" auth="Container"
              type="uk.org.primrose.vendor.tomcat.PrimroseDataSource"
              factory="uk.org.primrose.vendor.tomcat.PrimroseDataSourceFactory"
              poolName="stats"
              primroseConfigFile="conf/db.cfg"/>
    <Resource name="ikirezi" auth="Container"
              type="uk.org.primrose.vendor.tomcat.PrimroseDataSource"
              factory="uk.org.primrose.vendor.tomcat.PrimroseDataSourceFactory"
              poolName="ikirezi"
              primroseConfigFile="conf/db.cfg"/>
  </GlobalNamingResources>

  <Service name="Catalina">
    
    <Connector port="10088" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"
               compression="on" />

    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost" appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

        <Context path="/openclinic"
                 docBase="/usr/local/tomcat/webapps/openclinic"
                 reloadable="true"
                 crossContext="true">
          <ResourceLink global="openclinic" name="openclinic" type="javax.sql.DataSource"/>
          <ResourceLink global="longopenclinic" name="longopenclinic" type="javax.sql.DataSource"/>
          <ResourceLink global="admin" name="admin" type="javax.sql.DataSource"/>
          <ResourceLink global="longadmin" name="longadmin" type="javax.sql.DataSource"/>
          <ResourceLink global="stats" name="stats" type="javax.sql.DataSource"/>
          <ResourceLink global="ikirezi" name="ikirezi" type="javax.sql.DataSource"/>
        </Context>
      </Host>
    </Engine>
  </Service>
</Server>
